name: unity-build-and-ios-upload

on:
  workflow_dispatch:
    inputs:
      build_type:
        description: 'Select build type'
        required: true
        default: 'full'
        type: choice
        options:
          - full
          - short

jobs:
  buildForAllSupportedPlatforms:
    name: Build for ${{ matrix.targetPlatform }} on ${{ matrix.unity-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        unity-version:
          - ${{ vars.UNITY_VERSION || '2022.3.62f3' }}
        os:
          - ubuntu-latest
        targetPlatform:
          - iOS
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          lfs: true

      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@v1.3.1

      - name: Cache Library folder
        uses: actions/cache@v3
        with:
          path: Library
          key: Library-${{ matrix.targetPlatform }}
          restore-keys: Library-
      
      - name: Cache Unity packages
        uses: game-ci/unity-builder@v4.8.1
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
        with:
          targetPlatform: ${{ matrix.targetPlatform }}
      
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Build-${{ matrix.targetPlatform }}
          path: build/${{ matrix.targetPlatform }}


  xcodeBuildAndUpload:
    name: Xcode Build and Upload to TestFlight on ${{ matrix.unity-version }}
    needs: buildForAllSupportedPlatforms
    runs-on: macos-latest
    env:
      IOS_BUILD_PATH: ${{ format('{0}/build/iOS', github.workspace) }}
    strategy:
      fail-fast: false
      matrix:
        unity-version:
          - ${{ vars.UNITY_VERSION || '2022.3.62f3' }}
        targetPlatform:
          - iOS
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download iOS Artifact
        uses: actions/download-artifact@v4
        with:
          name: Build-${{ matrix.targetPlatform }}
          path: build/${{ matrix.targetPlatform }}
     
      - name: Setup xcode versioning system
        run: |
          ruby <<'RUBY'
          require 'xcodeproj'
          project = Xcodeproj::Project.open('build/iOS/iOS/Unity-iPhone.xcodeproj')
          project.targets.each do |target|
            target.build_configurations.each do |config|              
              config.build_settings['VERSIONING_SYSTEM'] = 'apple-generic'
              config.build_settings['CURRENT_PROJECT_VERSION'] = ENV['LAST_UPLOADED_BUILD_NUMBER'] || '0'
              puts "#{target.name} - #{config.build_settings['VERSIONING_SYSTEM']}"
            end
          end
          project.save
          RUBY

      - name: Install agvtool
        run: |
          sudo xcode-select --switch /Applications/Xcode.app
          sudo xcodebuild -license accept
          which agvtool || echo 'agvtool not found, but should be available with Xcode.'
          agvtool help || echo 'agvtool installed.'

      - name: Set up Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: ${{ vars.XCODE_VERSION || '16.3.0' }}
        
      - name: Set up ruby env
        uses: ruby/setup-ruby@v1.269.0
        with:
          ruby-version: 3.3
          bundler-cache: true

      - name: Generate MATCH_GIT_BASIC_AUTHORIZATION
        run: |
          echo -n "NikDyr:${GH_PAT}" | base64 > base64.txt
          echo "MATCH_GIT_BASIC_AUTHORIZATION=$(cat base64.txt)" >> $GITHUB_ENV
        env:
          GH_PAT: ${{ secrets.GH_PAT }}
          
      - name: Build & upload iOS binary
        run: |
          if [ "${{ github.event.inputs.build_type }}" = "short" ]; then
            bundle exec fastlane ios short_build_upload_testflight
          else
            bundle exec fastlane ios full_build_upload_testflight
          fi
        env:
          ASC_KEY_ID: ${{ secrets.APPSTORE_KEY_ID }}
          ASC_ISSUER_ID: ${{ secrets.APPSTORE_ISSUER_ID }}
          ASC_KEY: ${{ secrets.APPSTORE_P8 }}
          MATCH_GIT_BASIC_AUTHORIZATION: ${{ env.MATCH_GIT_BASIC_AUTHORIZATION }}
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
          TEAM_ID: ${{ vars.APPLE_TEAM_ID || secrets.APPLE_TEAM_ID }}
          BUNDLE_IDENTIFIER: ${{ vars.BUNDLE_IDENTIFIER || secrets.BUNDLE_IDENTIFIER }}
          MATCH_GIT_URL: ${{ vars.MATCH_GIT_URL || secrets.MATCH_GIT_URL }}
          APPLE_ID_DIGITS: ${{ vars.APPLE_ID_DIGITS || secrets.APPLE_ID_DIGITS }}
          XC_TARGET_NAME: "Unity-iPhone"
          IOS_BUILD_PATH: ${{ format('{0}/build/iOS', github.workspace) }}
          BUILD_TYPE: ${{ github.event.inputs.build_type }}
          LAST_UPLOADED_BUILD_NUMBER: ${{ vars.LAST_UPLOADED_BUILD_NUMBER || secrets.LAST_UPLOADED_BUILD_NUMBER }}
          MAJOR_VERSION: ${{ vars.MAJOR_VERSION || secrets.MAJOR_VERSION }}